# Dependencies
node_modules/
**/node_modules/

# IDE
.idea/
.vscode/
**/.project
**/.classpath
**/.settings
**/.vs

# Compiled output
**/dist
**/tmp
**/out-tsc
**/bazel-out

# Angular specific
frontend/.angular/
frontend/.sass-cache/
frontend/connect.lock
frontend/coverage
frontend/libpeerconnection.log
frontend/testem.log
frontend/typings

# API specific
api/dist/
api/logs/
api/*.log
api/.env

# Misc
.DS_Store
Thumbs.db
*.swp
*.swo
*~
